<!DOCTYPE html>
<html>
  <head>
    <title>Construkt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body style= "margin:0;, padding:0;">
    <nav class="w-full h-[50px] text-white p-2 bg-sky-700 border-b">
      Construkt
    </nav>


    <p class="notice"><%= notice %></p> 
    <p class="alert"><%= alert %></p> 
    
    <%= yield %>
  </body>
</html>
